<div class="container">
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li class="active"><a href="#/item">Manufacturing</a></li>
			<li><a href="#/contact">Contact</a></li>
		</ul>
		<h3 class="muted"><a href="#/">Tool Emporium</a></h3>
	</div>
	
	<hr>
	<div class="row" ng-controller="ItemCtrl">
		<div class="span3">
			<label>Item:</label>
			<input type="text" ng-model="itemName" placeholder="Item Name" autocomplete="on">
			<label>Item ME:</label>
			<slider class="span1" floor="0" ceiling="500" step="1" precision="0" ng-model="itemME"></slider>
			<input type="text" class="span1" ng-model="itemME" value="0">
			<div class="btn-group">
				<button class="btn">Build</button>
				<button class="btn dropdown-toggle" data-toggle="dropdown" data-target="#">
					<spbuttonn class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a>
						Build
						</a>
					</li>
					<li>
						<a>
						Build/Buy
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="span9">
		</div>
	</div>
	<hr>
	<div class="footer">
		<p>&copy; Zymoticb 2013</p>
	</div>
</div> <!-- /container -->
